
.landing-page {
  display: flex;
  margin-left: 80px;
  padding: 20px;
  background-color: var(--background-color);
  color: var(--text-color);
  height: 100vh;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.description {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 20px;
}