
.app.dark-mode {
    --background-color: #0b080c;
    --text-color: #f0ffff;
    --secondary-color: #99a7cc;
    --primary-color: #759BFF;
  }
  
  .app.light-mode {
    --background-color: #f0ffff;
    --text-color: #000f0f;
    --primary-color: #99a7cc;
    --secondary-color: #f0ffff;
  }import

.landing-page {
    display: flex;
    height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  .content {
    margin-left: 200px; /* Per lasciare spazio alla sidebar */
    padding: 20px;
    text-align: center;
  }
  
  .content h1 {
    font-size: 2.5rem;
    font-family: "Roboto", sans-serif;
    margin-bottom: 10px;
  }
  
  .content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .content .btn {
    margin: 5px;
  }
  
  @media (max-width: 768px) {
    .landing-page {
      flex-direction: column;
    }
  
    .content {
      margin-left: 0;
      padding: 20px;
    }
  }