.app.dark-mode {
  --background-color: #0b080c;
  --text-color: #f0ffff;
  --secondary-color: #99a7cc;
  --primary-color: #759BFF;
}

.app.light-mode {
  --background-color: #f0ffff;
  --text-color: #000f0f;
  --primary-color: #99a7cc;
  --secondary-color: #f0ffff;
}

.app {
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
  transition: background-color 0.3s, color 0.3s;
}

.button, .banner {
  background-color: var(--primary-color) !important;
  border-color: var(--secondary-color) !important;
  color: var(--text-color) !important;
  transition: background-color 0.3s, border-color 0.3s !important;
}