.app {
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
  transition: background-color 0.3s, color 0.3s;
}

.dark-mode {
  --background-color: #0b080c;
  --text-color: #f0ffff;
  --primary-color: #759BFF;
  --secondary-color: #99a7cc;
}

.light-mode {
  --background-color: #f0ffff;
  --text-color: #000f0f;
  --primary-color: #99a7cc;
  --secondary-color: #21325e;
}




