.app {
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
  transition: background-color 0.3s, color 0.3s;
}

.app {
  transition: background-color 0.3s, color 0.3s;
}

.dark-mode {
  --background-color: #121212;
  --text-color: #e0e0e0;
}

.light-mode {
  --background-color: #ffffff;
  --text-color: #000000;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  width: 100%;
}




